
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on swiftcart.com.You can also shop on SwiftCart Pakistan for millions of products with fast local delivery. <a>Click here to go to swiftcart.com </a></p>
        </div>
    
    </div>

    <div class="shop-section">
        <div class="box1 box">
         <div class="box-content">
            <h2>Shop deals in Fashion</h2>
        <div class="box-img" style="background-image: url(/images/box1_image.jpg);"></div>
        <p>See more</p>
         </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2>Health And Personal Care</h2>
            <div class="box-img" style="background-image: url(/images/box2_image.jpg);"></div>
            <p>See more</p>
             </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
            <h2>Home</h2>
            <div class="box-img" style="background-image: url(/images/box3_image.jpg);"></div>
        <p>See more</p>
         </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2>Tech Gadgets</h2>
            <div class="box-img" style="background-image: url(/images/box4_image.jpg);"></div>
            <p>See more</p>
             </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
               <h2>Beauty Products</h2>
           <div class="box-img" style="background-image: url(/images/box5_image.jpg);"></div>
           <p>See more</p>
            </div>
           </div>
           <div class="box2 box">
               <div class="box-content">
                   <h2>Pet Supplies</h2>
               <div class="box-img" style="background-image: url(/images/box6_image.jpg);"></div>
               <p>See more</p>
                </div>
           </div>
           <div class="box3 box">
               <div class="box-content">
               <h2>Clothing</h2>
           <div class="box-img" style="background-image: url(/images/box7_image.jpg);"></div>
           <p>See more</p>
            </div>
           </div>
           <div class="box4 box">
               <div class="box-content">
                   <h2>Stationary Items</h2>
                   <div class="box-img" style="background-image: url(/images/box8_image.jpg);"></div>
               <p>See more</p>
                </div>
            </div>

    </div>


    <div class="container-contactus">
        <div class="contactform">
            <h1 class="con-title">Connect With Us</h1>
            <p>We would love to respond to your queries.<br>Feel free to contact us.</p>
        </div>
        
        <div class="contact-box">
            <div class="contact-left">
                <h3>Send Your Request</h3>
                <form id="register" action="h.html" method="post">
                    <div class="input-row">
                        <div class="input-group">
                            <label>Name</label>
                            <input name="name" type="text" placeholder="E.g:Usman Shahid">
                        </div>
                        <div class="input-group">
                            <label>Phone</label>
                            <input name="phonenumber" type="text" placeholder="E.g:+92 123 456 789">
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-group">
                            <label>Email</label>
                            <input name="email" type="email" placeholder="E.g:swiftcart@gmail.com">
                        </div>
                        <div class="input-group">
                            <label>Subject</label>
                            <input name="subject" type="text" placeholder="E.g:Shipping Details">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea name="usermsg"  rows="5" placeholder="Your Message"></textarea>
                    
                    <button type="submit" class="btn">SUBMIT</button>
                
                </form>

            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>contactus@swiftcart.com</td>
                    </tr>

                    <tr>
                        <td>Phone</td>
                        <td>+92 111 555 999</td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td>Head Office: 231-A DHA Phase 5<br> 
                            Lahore 54000 Pakistan</td>
                    </tr>
                </table>

            </div>

        </div>

      
    </div>
    
    <!-- JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="/js/form-validation.js"></script>

   
    
</body>


</html>