<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Viewing Products</title>
</head>

<body>

    <!-- <div class="containerproducts">
        <div class="card">
            <div class="imgBx">
                <img src="/images/nikeshoes.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Size :</h3>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>

                <div class="color">

                    <h3>Color :</h3>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="#">Buy Now</a>
            </div>

        </div>
    </div>

</body>

</html> -->




  <table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <% for (var i=0; i<myproducts.length;i++) { %>
        <tr>
            <td><%= myproducts[i].name %></td>
            <td><%= myproducts[i].description %></td>
            <td><%= myproducts[i].price %></td>
        </tr>

   <% }  %>
       
   

  </table>
