<% include layouts/layout %>
<h1>Your Cart</h1>
<ul>
  <% products.forEach(product => { %>
    <li>
      <h3><%= product.name %></h3>
      <p>Price: $<%= product.price %></p>
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </li>
  <% }) %>
</ul>